@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-bg: #C5EFCB;
  --bg: #252422;
  --reseda-green: #758173;
  --celadon: #A9C5A0;
  --tea-green: #C6DEC6;
}

body {
  background-color: var(--bg);
  color: var(--reseda-green);
  font-family: 'Roboto', sans-serif;
}